* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.Link:hover {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
